@{Layout = "";}
@{
    ViewBag.Title = "Reset password confirmation";
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/InputMask")
<link href="~/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

<div class="container login_center" id="wrap">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center logo">
                <a href="/Account/Login"><img src="~/Content/images/logo.png"></a>
                <h3>@ViewBag.Title.</h3>

                <div class="register_heading">
                    <p>
                        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    </p>
                </div>
            </div>
        </div>
    </div>
</div> 
<footer>
    <div id="footer">
        <div class="container">powered by Aloe</div>
    </div>
</footer>
 
      