@model Aloe.Models.ChangePasswordViewModel
@{

}
<div class="container login_center">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()



                @*<div class="text-center logo">
                    <img src="~/Content/images/logo.png">
                </div>*@
                <br />
                <div class="register_heading">
                    <h1>Change Password</h1>

                    <p style=" color:#29a329;"><b>@ViewBag.Msg</b></p>
                    @Html.ValidationSummary("", new { @class = "text-danger nobullet" })
                    <p class="text-success">@ViewBag.StatusMessage</p>
                </div>

                <div class="form-group input-group imp">
                    <i class="fa fa-question-circle imp_ico" data-toggle="tooltip" data-placement="left" title="Please enter current password."></i>
                    <span class="input-group-addon">&nbsp;<img src="../images/lock.png"></span>
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control input-lg", @Placeholder = "OLD PASSWORD" })
                    <!-- <input type="password" placeholder="OLD PASSWORD " class="form-control input-lg"> -->
                </div>
                <div class="form-group input-group imp">
                    <i class="fa fa-question-circle imp_ico" data-toggle="tooltip" data-placement="left" title="Password must be a combination of Alphabets (Upper and Lowercase), Numbers and Special Characters (i.e. Abc123*)"></i>
                    <span class="input-group-addon">&nbsp;<img src="../images/lock.png"></span>
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control input-lg", @Placeholder = "NEW PASSWORD" })
                    <!--<input type="password" placeholder="NEW PASSWORD" class="form-control input-lg"> -->
                </div>
                <div class="form-group input-group imp">

                    <span class="input-group-addon">&nbsp;<img src="../images/lock.png"></span>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-lg", @Placeholder = "CONFIRM PASSWORD" })
                    <!--<input type="password" placeholder="CONFIRM PASSWORD" class="form-control input-lg"> -->
                </div>
    <div class="row" style="margin-left: -15px; margin-right: -15px;">
        @*<div class="col-md-12">
                <button type="button" class="submit_btn" onclick="SubmitToServer();"><i class="fa fa-paper-plane-o"></i>&nbsp;&nbsp;SUBMIT</button>
            </div>*@
        <button type="button" class="submit_btn" onclick="SubmitToServer();"><i class="fa fa-paper-plane-o"></i>&nbsp;&nbsp;SUBMIT</button>
        <div class="col-md-12">
            <div class="doted_line">&nbsp;</div>
        </div>

    </div>
                <br><br>
                <input type="submit" id="sbmt" value="Change password" class="btn btn-default hidden" />
                <script type="text/javascript">
                    function SubmitToServer() {
                        var a = document.getElementById('sbmt');
                        a.click();
                    }

                </script>

            }


        </div>
    </div>
    <!-- /.row -->
</div>
<style>
    .nobullet { float:left; width:100%;
    }
        .nobullet ul { list-style-type:none;
        }

</style>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}